.driver-mugshot {
    height: 200px;
    background-size: auto 200%;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0px -16px 16px;
}

mat-card-content > div {
    margin-bottom: 4px;
}

.driver-name {
    font-size: 24px;
    height: 2em;
}

.driver-nr {
    width: 34px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
}

app-flag {
    width: 50px;
    height: 30px;
}