<div *ngIf="isLoading; else loaded"
     fxLayout="column"
     fxLayoutAlign="center center"
     class="loading">
    <mat-spinner></mat-spinner>
</div>
<ng-template #loaded>
    <div fxLayout="column"
         fxLayoutAlign="start center">
        <mat-paginator *ngIf="(columnCount$ | async) > 1"
                       [length]="allTeams.length"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       (page)="onPage($event)">
        </mat-paginator>

        <div fxLayout="row wrap"
             fxLayoutAlign="start"
             class="team-grid">
            <app-team-card fxFlex.xs="0 1 100%"
                           fxFlex.sm="0 1 calc(33.3% - 8px)"
                           fxFlex.gt-sm="0 1 calc(25% - 8px)"
                           *ngFor="let team of pagedTeams$ | async"
                           [team]="team">
            </app-team-card>
        </div>
    </div>
</ng-template>