<div fxLayout="row"
     fxLayoutAlign="start center"
     class="item">
    <div class="gp-name"
         fxFlex="0 1 300px">
        <span>{{ 'hello world!' | uppercase }}</span>
    </div>
    <div class="gp-name"
         fxFlex="0 1 300px">
        <span>{{ 'foobar' | uppercase }}</span>
    </div>
</div>
<br>
<div fxLayout="row"
     fxLayoutAlign="start center"
     class="item">
    <div class="gp-name"
         style="flex: 0 1 300px">
        <span>{{ 'hello world!' | uppercase }}</span>
    </div>
    <div class="gp-name"
         style="flex: 0 1 300px">
        <span>{{ 'foobar' | uppercase }}</span>
    </div>
</div>