<form [formGroup]="form"
      (ngSubmit)="onSubmit()">

    <mat-form-field>
        <input matInput
               formControlName="name"
               placeholder="Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput
               formControlName="country"
               placeholder="Country">
    </mat-form-field>

    <div formArrayName="sessions">
        <div *ngFor="let session of form.get('sessions').controls; let i = index"
             [formGroupName]="i"
             fxLayout="row"
             fxLayoutAlign="start baseline"
             class="session">

            <p class="session-type">{{ form.get('sessions').controls[i].get('type').value | sessionType }}</p>

            <mat-form-field>
                <input matInput
                       [matDatepicker]="picker"
                       formControlName="date"
                       [placeholder]="'Date'">
                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       formControlName="time"
                       [placeholder]="'Time'">
            </mat-form-field>
        </div>
    </div>

    <button mat-button
            type="submit"
            [disabled]="!form.valid">Submit</button>

</form>