app-flag {
    height: 30px;
}

.gp-name {
    font-size: 20px;
    margin-left: 12px;
}

.day {
    font-size: 20px;
}

.month {
    font-size: 10px;
}

.date-seperator {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    font-size: 20px;
}