<div fxLayout="row"
     fxLayoutAlign="start end">
    <app-flag [country]="gp.country"
              fxFlex="0 0 50px">
    </app-flag>
    <!-- fxFlex.xs="1 0 200px" -->
    <div class="gp-name"
         fxFlex.xs="180px"
         fxFlex.gt-xs="380px">
        <span>{{ gp.name | uppercase }}</span>
    </div>
    <div fxLayout="column"
         fxLayoutAlign="start end">
        <span class="day">{{ gp.from | date : 'dd' }}</span>
        <span class="month">{{ gp.from | date : 'LLL' | uppercase }}</span>
    </div>
    <span class="date-seperator">-</span>
    <div fxLayout="column"
         fxLayoutAlign="start end">
        <span class="day">{{ gp.to | date : 'dd' }}</span>
        <span class="month">{{ gp.to | date : 'LLL' | uppercase}}</span>
    </div>
</div>